body {
  margin: 0;
  text-align: center;
}
.heading {
  text-transform: uppercase;
  width: fit-content;
  margin: 2rem auto;
  border: 1px solid rgb(37, 117, 61);
  padding: 10px 2rem;
  border-radius: 10px;
}
.input-data {
  display: flex;
  justify-content: center;
  width: fit-content;
  /* margin: 1rem auto; */
}
form {
  width: 60%;
  border: 1px solid rgb(37, 117, 61);
  border-radius: 1rem;
  padding: 2rem 3rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
form > .field {
  width: 50%;
}
form > .btn {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: auto;
  margin-top: 1rem;
}
div {
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
}
.btn > input {
  text-align: center;
}
label {
  display: inline-block;
  width: 110px;
  text-align: left;
}
.table-data {
  
}
table {
  padding: 10px;
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  border-collapse: collapse;
}

.table-row {
  border: 1px solid #000;
}
tr {
  /* border-collapse: collapse; */
}
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
}
